.peter-text {
  color: aquamarine;
}

.peter-new {
  color: red;
}

.btn {
  border-radius: 50px;
  width: 100px;
  height: 200px;
  background-color: blueviolet;
}

.btn:hover {
  background-color: bisque;
}

body {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(156, 149, 149));
}